<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!--Filter配置-->
	<filter>
		<filter-name>EncoderFilter</filter-name>
		<filter-class>com.epoint.filter.EncoderFilter</filter-class>
	</filter>
	<filter>
		<filter-name>GzipFilter</filter-name>
		<filter-class>com.epoint.filter.GzipFilter</filter-class>
	</filter>

	<!--Filter映射-->
	<filter-mapping>
		<filter-name>EncoderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>/static/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>VisitFirstPageServlet</servlet-name>
		<servlet-class>com.epoint.servlet.VisitFirstPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitFirstPageServlet</servlet-name>
		<url-pattern>/visit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>com.epoint.servlet.AddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/addStudentServlet</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
