/**!
 * 丹阳门户网站-首页
 * author: xx;
 * date: 20161219
 */
body{
    background-color: #f3f5f7;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.container{
    width: 1200px;
    margin: 0px auto;
}
.header-bg{
    height: 83px;
    background: url("../images/common-head.jpg") no-repeat center;
}
.header{
    height: 83px;
}
.logo{
    float: left;
    width: 568px;
    height: 51px;
    margin:17px 0px 0px 5px;
    background: url("../images/logo.png")no-repeat center;
}
.navs-list{
    float: left;
    margin-left: 90px;
}
.navs-item{
    width: 72px;
    height: 79px;
    line-height: 83px;
    text-align: center;
    float: left;
    font-size: 18px;
}
.navs-item a:focus{
    display: inline-block;
    width: 72px;
    height: 79px;
    line-height: 83px;
    background-color: #1d3768;
    border-top: 4px solid #367bd2;;
}
.navs-list a{
    text-decoration:none;
    out-line: none;
    color: #fff;
}
.user-icon{
    float: left;
    height: 83px;
    width: 100px;
}
.user-img{
    margin:10px 0px 8px 20px;
    width: 36px;
    height: 36px;
    background: url("../images/icon-person.png")no-repeat;
}
.user-txt{
    font-size: 14px;
    color: #92bff8;
    height: 14px;
}
.con-loc{
    margin: 20px 0px 20px 0px;
    height: 41px;
    background: #fff;
    border-bottom: 1px solid #cdd7e3;
    color: #666;
}
.loc-img{
    margin:12px 13px 12px 20px;
    width: 15px;
    height: 19px;
    background: url("../images/location.png") no-repeat;
}
.loc-item{
    float: left;
    height: 41px;
    line-height: 41px;
}
.loc-label{
    color:#09a9f1;
}
.con-navs{
    height: 64px;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #cdd7e3;
}
.con-navs-title{
    margin-left: -48px;
    float: left;
    width: 60px;
    height: 64px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: url("../images/category-bg.jpg")no-repeat center;
}
.con-navs-title label{
    padding: 2px 0px 2px 13px;
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
}
.con-navs-list{
    overflow: hidden;
    float: left;
    height: 64px;
}
.con-navs-item{
    float: left;
    height: 64px;
    line-height: 64px;
    margin-right: 50px;
}
.con-a{
    text-decoration:none;
    out-line: none;
    font-size: 16px;
    color: #333;
}
.first-item{
    margin-left: 40px;
}
.con-navs-item a:focus{
    color: #09a9f1;
}
.con{
    background-color: #ffffff;
    margin-top: 20px;
}
.con-head{
    color: #666666;
    height: 69px;
    line-height: 69px;
}
.con-head label{
    display: inline-block;
    height: 69px;
    line-height: 69px;
    padding-left: 25px;
}
#selectid{
    display: inline-block;
    height: 28px;
    width: 90px;
    line-height: 69px;
}
.con-list{
    margin-left: 25px;
    margin-right: 25px;
}
.con-list-item{
    height: 106px;
    background-color: #f9fafb;
    border: 1px solid #e5e5e5 ;
    margin-bottom: 15px;
}
.item-left{
    float: left;
    width: 835px;
}
.item-right{
    float: right;
}
.item-title{
    margin: 18px 0px 18px 20px;
    font-size: 16px;
    color: #333;
}
.item-txt{
    margin: 0px 0px 20px 20px;
    font-size: 14px;
    color: #999;
}
.item-right{
    padding: 22px 20px 0px 0px;
    height: 87px;
}
.con-btn{
    display:block;
    margin-bottom: 12px;
    height: 24px;
    line-height: 24px;
    width: 120px;
    color: #09a9f1;
    border:1px solid #09a9f1 ;
    border-radius: 12px;
    background-color: #f9fafb;
}
.footer{
    height: 70px;
    background-color: #f3f5f7;
}
.page-div{
    height: 106px;
    line-height: 106px;
    padding-left: 380px;
    /*background-color: #1d3768;*/
}